.woocommerce-lost-password {
    .lost_reset_password {
        width: 320px;
        margin: 20px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}