.woocommerce-tabs  {
    margin: 20px 0;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    .tabs {
        display: flex;
        column-gap: 10px;
        font-size: 18px;
        text-transform: uppercase;
        @media(max-width: 460px) {
            flex-direction: column;
        }
        li {   
            padding: 7px 10px;
            transition: all 0.6s ease 0.3s;
        }
        li:hover {
            background-color: $HeadColor;
            color: $HeadTextColor;
        }
    }
    .woocommerce-Tabs-panel {
        padding: 10px;
        h2 {
            font-size: 18px;
            padding: 10px 0;
        }
    }

}