@import "base/null.scss";


:root {
   --HeadColor: #007AFC;
   --DubleColor: #59B210;
   --HeadTextColor: #ffffff;
   --ColorButton: #007AFC;
   --ColorButtonHover: #59B210;
   --ColorButtonText: #ffffff;
   --ColorLink: #007AFC;
   --ColorLinkHover: #59B210; 
   --ColorCountBack: #E67E22;
   --ColorCountText: #ffffff;
   --yith-wcan-labels_style_background_hover: #007AFC;
    --yith-wcan-filters_colors_accent: #007AFC;
    --yith-wcan-anchors_style_text_hover:  #007AFC; 
    --yith-wcan-anchors_style_text_active: #007AFC;
    --badgickSale: #ff2d37;
    --badgickNew: #3599ff;
    --badgickHit: #098524;
} 

$minWidth: 320;
$maxWidthContainer: 1590;
$padding: 15;

$HeadColor: var(--HeadColor);
$DubleColor: var(--DubleColor);
$HeadTextColor: var(--HeadTextColor);
$ColorButton: var(--ColorButton);
$ColorButtonText: var(--ColorButtonText);
$ColorButtonHover: var(--ColorButtonHover);
$ColorLink: var(--ColorLink);
$ColorLinkHover: var(--ColorLinkHover);
$ColorCountBack: var(--ColorCountBack);
$ColorCountText: var(--ColorCountText);

 

.site-wrapper {
   height: 100%;
   display: flex;
   flex-direction: column
}
.page-wrapper {
   flex: 1 1 auto
}
@import "./base/grid.scss";
@import "base/mixin";
@import "fonts";
@import "./sidebar.scss";
@import "./woo/woo.scss";
@import "./wp/wp.scss";
@import "header";
@import "footer";


